{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<p class="date">Published {{ post.publish }} by {{ post.author }}</p>
{{ post.body|markdown }}
<p>
    <a href='{% url "blog:post_share" post.id %}'>Share this post</a>
</p>
<form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Оставить коммент</button>
</form>
{% for el in comments %}
    {{el.user}}    {{el.created}}<br>
    {{el.text}}<br><br>
{% endfor %}
{% endblock %}